<div class="container">
  <div class="p2 mt2">
    <div class="flex flex-center flex-wrap">
      <img src="<%= asset_path('logo_square.svg') %>" height="80px" class="flex-none mr2" />
      <div class="flex-auto">
        <div class="h1">Realty Bear</div>
      </div>
      <div class="flex-none">
        <div class="h3 blue">Real estate reimagined</div>
      </div>
    </div>
  </div>
  <div class="p2 mt2">
    <form class="sm-col-6 mx-auto">
      <div class="h2 mb2 center">Get your <span class="bold">free</span> sale price estimate in 1 hour</div>
      <label>Email <span class="italic">(we will send your report here; no spam)</span></label>
      <input type="text" class="block col-12 mb1 field">
      <label>Property Address</label>
      <input type="text" class="block col-12 mb1 field">
      <div class="center">
        <button type="submit" class="btn btn-primary button-big mx-auto">Send me my report</button>
      </div>
    </form>
  </div>
</div>
<div class="p2 mt2 shadow bg-navy white">
  <div class="flex flex-center">
    <div class="flex-auto">
      (c) 2015 RealtyBear. All rights reserved.
    </div>
    <div class="flex-none">
    </div>
  </div>
</div>
