<div class="container">
  <div class="py2 mt2">
    <div class="flex flex-center">
      <img src="<%= asset_path('logo_square.svg') %>" height="80px" class="flex-none mr2" />
      <div class="flex-auto">
        <div class="h1">Realty Bear</div>
      </div>
      <div class="flex-none">
        <div class="h3 blue">Real estate for the modern age</div>
        <div class="h3 blue">Real estate reimagined</div>
        <div class="h3 blue">Real estate for the smart and savvy</div>
      </div>
    </div>
  </div>
</div>
